<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <!-- Permissions required for running a foreground service and keeping the CPU awake during playback -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <!-- Foreground service declaration. The type is mediaPlayback so the system knows this is audio playback. -->
        <service
            android:name="com.skala.exoaudio.AudioForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
    </application>

</manifest>